/**********************

Authors:    Cristian Adán (https://github.com/salteadorneo/)
            Adonai Araya (https://github.com/adonaiaraya/)
            // Lucas Menéndez (https://github.com/lucasmenendez/)

Version:    1.0

**********************/

@import "reset";

$colors: red green blue black white;

.row {
    display: inline-table;

    .cell {
        display: table-cell;
    }
}

.col {
    display: inline-block;

    .valign-top {
        vertical-align: top;
    }

    .valign-middle {
        vertical-align: middle;
    }

    .valign-bottom {
        vertical-align: bottom;
    }
}

.relative {
    position: relative;
}

// vertical postition
.center-v {
    position: absolute;
    top: 50%;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

// horizontal position
.center-h {
    position: absolute;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

// full center position
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@for $i from 1 through 100 {
    // horizontal padding in percent
    .padding-h.perc#{$i} {
        padding-left: $i + 0%;
        padding-right: $i + 0%;
    }
    // horizontal padding in pixeles
    .padding-h.px#{$i} {
        padding-left: $i + 0px;
        padding-right: $i + 0px;
    }

    // vertical padding in percent
    .padding-v.perc#{$i} {
        padding-top: $i + 0%;
        padding-bottom: $i + 0%;
    }
    // vertical padding in pixeles
    .padding-v.px#{$i} {
        padding-top: $i + 0px;
        padding-bottom: $i + 0px;
    }

    // horizontal margin in percent
    .margin-h.perc#{$i} {
        margin-left: $i + 0%;
        margin-right: $i + 0%;
    }
    // horizontal margin in pixeles
    .margin-h.px#{$i} {
        margin-left: $i + 0px;
        margin-right: $i + 0px;
    }

    // vertical margin in percent
    .margin-v.perc#{$i} {
        margin-top: $i + 0%;
        margin-bottom: $i + 0%;
    }
    // vertical margin in pixeles
    .margin-v.px#{$i} {
        margin-top: $i + 0px;
        margin-bottom: $i + 0px;
    }
}

$i: 5;
@while $i < 100 {
    // width in percent
    .w#{$i}perc {
        width: $i + 0%;
    }
    // width in pixeles
    .w#{$i}px {
        width: $i + 0px;
    }

    // height in percent
    .h#{$i}perc {
        width: $i + 0%;
    }
    // height in pixeles
    .h#{$i}px {
        width: $i + 0px;
    }

    $i: $i + 5;
}

// text align left
.text-left {
    text-align: left;
}
// text align center
.text-center {
    text-align: center;
}
// text align right
.text-right {
    text-align: right;
}

@for $i from 1 through 100 {
    // font size in percent
    .font#{$i}perc {
        font-size: $i + 0%;
    }
    // font size in pixeles
    .font#{$i}px {
        font-size: $i + 0px;
    }
    // font size in em
    .font#{$i}em {
        font-size: $i + 0em;
    }
    // font size in rem
    .font#{$i}rem {
        font-size: $i + 0rem;
    }
}

// borders
@for $i from 1 through 10 {
    .border-top-#{$i}px {
        border-top: $i + 0px;
    }

    .border-right-#{$i}px {
        border-right: $i + 0px;
    }

    .border-botton-#{$i}px {
        border-bottom: $i + 0px;
    }

    .border-left-#{$i}px {
        border-left: $i + 0px;
    }
}

.border-solid {
    border-style: solid;
}

.border-dashed {
    border-style: dashed;
}

// circle
.circle {
    border-radius: 50%;
}

// background
@each $current in $colors {
    .back-#{$current} {
        background: $current;
    }
}
// color
@each $current in $colors {
    .color-#{$current} {
        color: $current;
    }
}

// opacity
@for $i from 0 through 9 {
    .opacity#{$i} {
        opacity: $i / 10;
    }
}
