/**********************

Authors:    Cristian Adán (https://github.com/salteadorneo/)
            Adonai Araya (https://github.com/adonaiaraya/)
            Lucas Menéndez (https://github.com/lucasmenendez/)

Version:    1.1

**********************/

@import "src/reset";

$colors: "red" "green" "blue" "black" "white";

@import "src/grid";
@import "src/text";
@import "src/border";

// google fonts open sans
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800';
.opensans {
    font-family: 'Open Sans', sans-serif;
}

.rel {
    position: relative;
}

.block {
    display: block;
}

.circle {
    border-radius: 50%;
}

button {
    border: none;
}

// vertical postition
.center-v {
    position: absolute;
    top: 50%;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

// horizontal position
.center-h {
    position: absolute;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

// full center position
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

$i: 2;

@while $i < 100 {
    // horizontal padding in pixeles
    .padding-h-#{$i} {
        padding-left: $i + 0px;
        padding-right: $i + 0px;
    }
    // vertical padding in pixeles
    .padding-v-#{$i} {
        padding-top: $i + 0px;
        padding-bottom: $i + 0px;
    }

    // horizontal margin in pixeles
    .margin-h-#{$i} {
        margin-left: $i + 0px;
        margin-right: $i + 0px;
    }
    // vertical margin in pixeles
    .margin-v-#{$i} {
        margin-top: $i + 0px;
        margin-bottom: $i + 0px;
    }

    // horizontal padding in percent
    .padding-h-#{$i}-perc {
        padding-left: $i + 0%;
        padding-right: $i + 0%;
    }
    // vertical padding in percent
    .padding-v-#{$i}-perc {
        padding-top: $i + 0%;
        padding-bottom: $i + 0%;
    }

    // horizontal margin in percent
    .margin-h-#{$i}-perc {
        margin-left: $i + 0%;
        margin-right: $i + 0%;
    }
    // vertical margin in percent
    .margin-v-#{$i}-perc {
        margin-top: $i + 0%;
        margin-bottom: $i + 0%;
    }

    // width in percent
    .width-#{$i}-perc {
        width: $i + 0%;
    }
    // height in percent
    .height-#{$i}-perc {
        height: $i + 0%;
    }

    // width in pixeles
    .width-#{$i} {
        width: $i + 0px;
    }
    // height in pixeles
    .height-#{$i} {
        height: $i + 0px;
    }

    $i: $i + 2;
}

$i: 5;

@while $i < 100 {
    // horizontal padding in pixeles
    .padding-h-#{$i} {
        padding-left: $i + 0px;
        padding-right: $i + 0px;
    }
    // vertical padding in pixeles
    .padding-v-#{$i} {
        padding-top: $i + 0px;
        padding-bottom: $i + 0px;
    }

    // horizontal margin in pixeles
    .margin-h-#{$i} {
        margin-left: $i + 0px;
        margin-right: $i + 0px;
    }
    // vertical margin in pixeles
    .margin-v-#{$i} {
        margin-top: $i + 0px;
        margin-bottom: $i + 0px;
    }

    // horizontal padding in percent
    .padding-h-#{$i}-perc {
        padding-left: $i + 0%;
        padding-right: $i + 0%;
    }
    // vertical padding in percent
    .padding-v-#{$i}-perc {
        padding-top: $i + 0%;
        padding-bottom: $i + 0%;
    }

    // horizontal margin in percent
    .margin-h-#{$i}-perc {
        margin-left: $i + 0%;
        margin-right: $i + 0%;
    }
    // vertical margin in percent
    .margin-v-#{$i}-perc {
        margin-top: $i + 0%;
        margin-bottom: $i + 0%;
    }

    // width in percent
    .width-#{$i}-perc {
        width: $i + 0%;
    }
    // height in percent
    .height-#{$i}-perc {
        height: $i + 0%;
    }

    // width in pixeles
    .width-#{$i} {
        width: $i + 0px;
    }
    // height in pixeles
    .height-#{$i} {
        height: $i + 0px;
    }

    $i: $i + 10;
}

// background
@each $current in $colors {
    .back-#{$current} {
        background: $current;
    }
}

// opacity
@for $i from 0 through 9 {
    .opacity#{$i} {
        opacity: $i / 10;
    }
}
