/**********************
Author:    Cristian Adán (https://github.com/salteadorneo/)
Version:    1.5
**********************/

@import "reset";

$colors: aqua, black, blue, fuchsia, gray, green, lime, maroon, navy, olive, purple, red, silver, teal, white, yellow;

@import "grid";
@import "text";
@import "border";

.rel {
    position: relative;
}

.block {
    display: block;
}

.circle {
    border-radius: 50%;
}

button {
    border: none;
}

.center-v, .c-v {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.center-h, .c-h {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.center, .c {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

$i: 2;

@while $i <= 50 {
    .padding-#{$i}, .p-#{$i} {
        padding: $i + 0px;
    }

    .padding-#{$i}-perc, .p-#{$i}perc {
        padding: $i + 0%;
    }

    .margin-#{$i}, .m-#{$i} {
        margin: $i + 0px;
    }

    .margin-#{$i}-perc, .m-#{$i}perc {
        margin: $i + 0%;
    }

    .padding-h-#{$i}, .p-h-#{$i} {
        padding-left: $i + 0px;
        padding-right: $i + 0px;
    }

    .padding-v-#{$i}, .p-v-#{$i} {
        padding-top: $i + 0px;
        padding-bottom: $i + 0px;
    }

    .margin-h-#{$i}, .m-h-#{$i} {
        margin-left: $i + 0px;
        margin-right: $i + 0px;
    }

    .margin-v-#{$i}, .m-v-#{$i} {
        margin-top: $i + 0px;
        margin-bottom: $i + 0px;
    }

    .padding-h-#{$i}-perc, .p-h-#{$i}perc {
        padding-left: $i + 0%;
        padding-right: $i + 0%;
    }

    .padding-v-#{$i}-perc, .p-v-#{$i}perc {
        padding-top: $i + 0%;
        padding-bottom: $i + 0%;
    }

    .margin-h-#{$i}-perc, .m-h-#{$i}perc {
        margin-left: $i + 0%;
        margin-right: $i + 0%;
    }

    .margin-v-#{$i}-perc, .m-v-#{$i}perc {
        margin-top: $i + 0%;
        margin-bottom: $i + 0%;
    }

    $i: $i + 2;
}

$i: 5;
@while $i < 50 {
    .padding-#{$i}, .p-#{$i} {
        padding: $i + 0px;
    }

    .padding-#{$i}-perc, .p-#{$i}perc {
        padding: $i + 0%;
    }

    .margin-#{$i}, .m-#{$i} {
        margin: $i + 0px;
    }

    .margin-#{$i}-perc, .m-#{$i}perc {
        margin: $i + 0%;
    }

    .padding-h-#{$i}, .p-h-#{$i} {
        padding-left: $i + 0px;
        padding-right: $i + 0px;
    }

    .padding-v-#{$i}, .p-v-#{$i} {
        padding-top: $i + 0px;
        padding-bottom: $i + 0px;
    }

    .margin-h-#{$i}, .m-h-#{$i} {
        margin-left: $i + 0px;
        margin-right: $i + 0px;
    }

    .margin-v-#{$i}, .m-v-#{$i} {
        margin-top: $i + 0px;
        margin-bottom: $i + 0px;
    }

    .padding-h-#{$i}-perc, .p-h-#{$i}perc {
        padding-left: $i + 0%;
        padding-right: $i + 0%;
    }

    .padding-v-#{$i}-perc, .p-v-#{$i}perc {
        padding-top: $i + 0%;
        padding-bottom: $i + 0%;
    }

    .margin-h-#{$i}-perc, .m-h-#{$i}-perc {
        margin-left: $i + 0%;
        margin-right: $i + 0%;
    }

    .margin-v-#{$i}-perc, .m-v-#{$i}-perc {
        margin-top: $i + 0%;
        margin-bottom: $i + 0%;
    }

    $i: $i + 10;
}

$i: 0;
@while $i <= 100 {
    .width-#{$i}-perc, .w#{$i}p {
        width: $i + 0%;
    }

    .height-#{$i}-perc, .h#{$i}p {
        height: $i + 0%;
    }

    $i: $i + 5;
}

$i: 5;
@while $i <= 500 {
    .width-#{$i}, .w#{$i} {
        width: $i + 0px;
    }

    .height-#{$i}, .h#{$i} {
        height: $i + 0px;
    }

    @if $i < 100 {
        $i: $i + 5;
    }
    @else {
        $i: $i + 10;
    }
}

@each $color in $colors {
    .back-#{$color}, .bg-#{$color} {
        background: $color;
    }
}

@for $i from 0 through 9 {
    .opacity#{$i}, .o#{$i} {
        opacity: $i / 10;
    }

    @if $i > 0 {
        .opacity#{$i}5, .o#{$i}5 {
            opacity: ($i / 10) + .05;
        }
    }
}
